:root {
    --primary: #3A3845;
    --secondary: #F7CCAC;
    --accent: #C69B7B;
    --background: #826F66;
    --text: #ffffff;
    --black: #000000;
    --red: #ff0000;
    --blue: #0000ff;
    --green: #4caf50;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    min-height: 80vh;
}
body {
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
}